
/* page.module.css */

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: orange;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: black;
}

.main {
  flex-grow: 1;
  padding: 30px;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.category {
  text-align: center;
}

.category img {
  width: 50px; /* Állítsd be az ikon méretét */
  height: auto;
}
