<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>A Bymy a közelben lévő szolgáltatásokat használja.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_autosweb._tcp</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Profilkép és hirdetés fényképek feltöltéséhez szükséges a fotókönyvtár hozzáférés.</string>
	<key>NSCameraUsageDescription</key>
	<string>Hirdetés fényképek készítéséhez szükséges a kamera hozzáférés.</string>
</dict>
</plist>
